*{
    box-sizing:border-box;
    margin:0;
    padding:0;

}
body{
    font-family: "DM sans", sans-serif;
}

/* reset CSS */
a{
    text-decoration: none;
    color:inherit;
}
button,input,textarea{
    font-family: "DM sans", sans-serif;
    font-size:16px;
}
button:focus,button:active
,input:focus,input:active
,textarea:focus,textarea:active{
    box-shadow: none;
    outline: none;
}
ul,ol,li{
    list-style: none;
    padding-left:0;
    margin-left:0;
}
p{
    font-size:16px;
    line-height: 1.5;
    color:#2B292D;
    letter-spacing: -0.01em;
}
/* common CSS */
.fill-button{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #3040C4;
    width:140px;
    height:48px;
    color:#fff;
    font-size:15px;
    line-height: 1.6;
    letter-spacing: -0.05em;
    font-weight:700;
    border-radius:2px;
    transition:opacity 300ms ease-in-out;
}
.fill-button.inverted{
    background-color: #fff;
    color:#3040C4;
}
.fill-button:hover{
    opacity: 0.5;
}
.section-category{
    font-size:16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    margin-bottom:8px;
    display: block;
}
.section-title{
    font-size:34px;
    line-height: 1.0588235;
    line-height:-0.03em;
    color:#2B292D;
    margin-bottom:24px;
}
.section-pd{
    padding:80px 0;
}
/* landign */
.landing{
    background-color: #FDDED8;
    text-align:center;
}
.landing-content{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.landing-title{
    color:#2B292D;
    font-size:40px;
    line-height: 1;
    letter-spacing: -0.05em;
    margin-bottom:24px;
}
.landing-desc{
    margin-bottom:20px;
}
.landing .button-group{
    display:flex;
    justify-content: center;
    align-items: center;
}
.landing .button-group .fill-button:first-child{
    margin-right:8px;
}


/* service */
.service{
    background-color: #F4F5F7;
    padding:80px 0;
}
.service-title{
    font-size:22px;
    line-height:1.36363636;
    letter-spacing: -0.04em;
    color:#2B292D;
    margin-bottom:16px;
}
.service .row .col-12:first-child{
    margin-bottom:40px;
}

/* program */
.program .section-category{
    color:#009B4D;
}

/* 768px > (Desktop)*/
@media screen and (min-width:768px){
    p{
        font-size:22px;
        line-height: 1.45454545;
    }
    .landing-content{
        height:auto;
        padding:120px 0;
    }
    .section-pd{
        padding-bottom:96px;
    }
    /* landing */
    .landing-title{
        font-size:70px;
        line-height: 1.0285714285;
        margin-bottom:32px;
    }
    .fill-button{
        width:160px;
        height:56px;
        font-size:18px;
        line-height: 1.5555555;
    }
    .section-category{
        font-size:22px;
        line-height: 1.0909090;
        margin-bottom: 16px;
    }
    .section-title{
        font-size:56px;
        line-height: 1;
        margin-bottom: 32px;
    }
    .landing-desc{
        margin-bottom: 32px;;
    }
    .landing .button-group .fill-button:first-child{
        margin-right:16px;
    }
    
    /* service */
    .service-title{
        font-size:26px;
        line-height: 1.3076923;
    }
    .service .row .col-12:first-child{
        margin-bottom:0;
    }
    /* program */
    .program{
        text-align:center;
    }
}

/* custom grid systems - fix container width */
@media screen and (min-width:1200px){
    .container{
        max-width:960px !important;
    }
}
