*{
    box-sizing:border-box;
    margin:0;
    padding:0;

}
body{
    font-family: "DM sans", sans-serif;
}

/* reset CSS */
a{
    text-decoration: none;
    color:inherit;
}
button,input,textarea{
    font-family: "DM sans", sans-serif;
    font-size:16px;
}
button:focus,button:active
,input:focus,input:active
,textarea:focus,textarea:active{
    box-shadow: none;
    outline: none;
}
ul,ol,li{
    list-style: none;
    padding-left:0;
    margin-left:0;
}
p{
    font-size:16px;
    line-height: 1.5;
    color:#2B292D;
    letter-spacing: -0.01em;
}
/* common CSS */
.fill-button{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #3040C4;
    width:140px;
    height:48px;
    color:#fff;
    font-size:15px;
    line-height: 1.6;
    letter-spacing: -0.05em;
    font-weight:700;
    border-radius:2px;
    transition:opacity 300ms ease-in-out;
    border:none;
}
.fill-button.inverted{
    background-color: #fff;
    color:#3040C4;
}
.fill-button:hover{
    opacity: 0.5;
}
.section-category{
    font-size:16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    margin-bottom:8px;
    display: block;
}
.section-title{
    font-size:34px;
    line-height: 1.0588235;
    line-height:-0.03em;
    color:#2B292D;
    margin-bottom:24px;
}
.section-pd{
    padding:80px 0;
}
/* landign */
.landing{
    background-color: #FDDED8;
    text-align:center;
}
.landing-content{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.landing-title{
    color:#2B292D;
    font-size:40px;
    line-height: 1;
    letter-spacing: -0.05em;
    margin-bottom:24px;
}
.landing-desc{
    margin-bottom:20px;
}
.landing .button-group{
    display:flex;
    justify-content: center;
    align-items: center;
}
.landing .button-group .fill-button:first-child{
    margin-right:8px;
}


/* service */
.service{
    background-color: #F4F5F7;
    padding:80px 0;
}
.service-title{
    font-size:22px;
    line-height:1.36363636;
    letter-spacing: -0.04em;
    color:#2B292D;
    margin-bottom:16px;
}
.service .row .col-12:first-child{
    margin-bottom:40px;
}

/* program */
.program .section-category{
    color:#009B4D;
}
.program .row:first-child{
    margin-bottom:32px;
}
.program-card{
    padding:24px 0 32px;
    border-radius:8px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    display:block;
    text-align:center;
    transition:background-color 300ms ease-in-out,
    box-shadow 300ms ease-in-out;
}
.program-card:hover{
    background-color: #3141C5;
    box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);

}
.program-card:hover strong{
    color:#fff;
}
.program-card img{
    display:block;
    width:auto;
    height:195px;
    margin:0 auto;
    margin-bottom:16px;
}
.program-card strong{
    font-size:18px;
    line-height: 1.3333333;
    letter-spacing: -0.02em;
    transition:color 500ms ease-in-out;
}

.program .col-md-4{
    margin-bottom:20px;
}
.program .col-md-4:last-child{
    margin-bottom:0;
}

/* curriculum */
.curriculum .row:last-child .col-12:first-child{
    margin-bottom:40px;
}
.curriculum .row:first-child{
    margin-bottom:48px;
}
.curriculum .section-category{
    color:#0189D1;
}
.curriculum .section-desc{
    margin-bottom:32px;
}
.curriculum-img{
    display:none;
}
.curriculum-detail-desc{
    font-size:15px;
    line-height: 1.4666666;
    color:#2B292D;
    letter-spacing: -0.01em;
}
/* subscription */
.subscription{
    padding:40px 0;
    background-color: #F2F8FA;
    text-align:center;
}
.subscription-img{
    padding:25px 0 ;
}
.subscription-img img{
    display: block;
    width:auto;
    height:190px;
    margin:0 auto;
}
.subscription-title{
    font-size:32px;
    line-height:1;
    letter-spacing: -0.05em;
    color:#2B292D;
    margin-bottom:16px;
}
.subscription-desc{
    margin-bottom:24px;
}
.subscription .input-group{
    margin-bottom:8px;
}
.subscription .input-group input{
    width:100%;
    height:48px;
    padding:0 16px;
    border-radius: 2px;
    background-color: #fff;
    border:none;
    margin-bottom:8px;
}
.subscription .input-group .fill-button{
    width:100%;
}
.subscription-form .form-notice{
    font-size:13px;
    line-height:1.53846153;
    letter-spacing: 0;
    color:#7B7B7E;
}
.subscription-form .form-notice a{
    text-decoration: underline;
    color:#3040C4;
}
/* footer */
.footer{
    padding:24px 0;
}
.footer a{
    font-size:14px;
    line-height:1.7142857;
    color:#807F81;
    
}
.footer-link{
    margin-bottom:8px;
}
.footer-link:last-child{
    margin-bottom:0;
}

/* 768px > (Desktop)*/
@media screen and (min-width:768px){
    p{
        font-size:22px;
        line-height: 1.45454545;
    }
    .landing-content{
        height:auto;
        padding:120px 0;
    }
    .section-pd{
        padding-bottom:96px;
    }
    /* landing */
    .landing-title{
        font-size:70px;
        line-height: 1.0285714285;
        margin-bottom:32px;
    }
    .fill-button{
        width:160px;
        height:56px;
        font-size:18px;
        line-height: 1.5555555;
    }
    .section-category{
        font-size:22px;
        line-height: 1.0909090;
        margin-bottom: 16px;
    }
    .section-title{
        font-size:56px;
        line-height: 1;
        margin-bottom: 32px;
    }
    .landing-desc{
        margin-bottom: 32px;;
    }
    .landing .button-group .fill-button:first-child{
        margin-right:16px;
    }
    
    /* service */
    .service-title{
        font-size:26px;
        line-height: 1.3076923;
    }
    .service .row .col-12:first-child{
        margin-bottom:0;
    }
    /* program */
    .program{
        text-align:center;
    }
    .program .row:first-child{
        margin-bottom:72px;
    }
    .program-card img{
        margin-bottom:24px;
    }
    .program-card strong{
        font-size;20px;
        line-height: 1.2;
    }
    /* curriculum */
    .curriculum .row:first-child{
        margin-bottom:24px;
    }
    .curriculum .section-desc{
        margin-bottom:72px;
    }
    .curriculum-detail-desc{
        font-size:18px;
        line-height: 1.4444;
    }
    .curriculum-img{
        display:block;
    }
    .curriculum-img img{
        display:block;
        width:100%;
        max-width:425px;
        height:auto;
    }
    .curriculum .row:last-child .col-12:first-child{
        margin-bottom:0;
    }
    
    /* .subscription */
    .subscription{
        padding:80px 0;
    }
    .subscription-img{
        padding:8px 0;
    }
    .subscription-img img{
        height:285px;
        margin-left:0;
    }
    .subscription-title{
        font-size:40px;
    }
    .subscription-title{
        text-align:left;
    }
    .subscription .input-group{
        display: flex;
        align-items: center;
        margin-bottom: 4px;
    }
    .subscription .input-group input{
        height:56px;
        font-size:18px;
        line-height:1.3333333;
        margin-bottom:0;
        margin-right:8px;
    }

    .subscription .input-group .fill-button{
        width:160px;
        flex-shrink: 0;
    }
    .subscription-form .form-notice{
        font-size:14px;
        line-height: 1.7142857;
        text-align:left;
    }
    /* footer */
    .footer{
        padding:16px 0;
    }
    .footer-links{
        display:flex;
        align-items: center;
    }
    .footer-link{
        margin-bottom:0;
        margin-right:16px;
    }
    .footer-link:last-child{
        margin-right:0;
    }

}

/* custom grid systems - fix container width */
@media screen and (min-width:1200px){
    .container{
        max-width:960px !important;
    }
}

